:host {
  display: block;
  padding: 10px;
  .card {
    width: 100% !important;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.19s ease-in-out;
    position: relative;

    // Hover effect to show more info
    &:hover {
      transition-delay: 0.19s;
      transform: scale(1.1);
      z-index: 1000;

      img {
        transition-delay: 0.19s;
        filter: brightness(0.5);
      }

      .hidden-info {
        transition-delay: 0.29s;
        bottom: 30px;
      }
    }

    img {
      transition: all 0.7s ease-in-out;
    }

    .hidden-info {
      position: absolute;
      bottom: -180px;
      transition-delay: 0s;
      transition: all 0.4s ease-in-out;
      color: var(--light);
    }

    .card-body {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}