:host {
  display: inline-block;
  margin-left: auto;
  -webkit-tap-highlight-color: transparent;

  .searchbox {
    position: relative;
    display: block;
    width: 100%;
    max-width: 53px;
    transition: 0.4s ease-in-out;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;

    .searchbox-input {
      display: block;
      appearance: none;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 50px;
      background-color: var(--light);
      padding: 9px 9px 9px 18px;
      color: var(--light);
      font-size: 1.01rem;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      -webkit-tap-highlight-color: transparent;

      &::placeholder {
        color: var(--light);
      }
    }

    .searchbox-icon {
      position: absolute;
      right: calc(53px / 2);
      top: 50%;
      transform: translate(50%, -50%);
      pointer-events: none;
      border: none;
      background-color: transparent;
      font-size: 1.3rem;
      outline: none;
      border-radius: 50px;
      color: var(--gray);
      -webkit-tap-highlight-color: transparent;
    }

    &:focus-within {
      max-width: 300px;
      .searchbox-input {
        background-color: var(--white);
        padding-right: 50px;
        color: var(--dark);
        cursor: text;
        &::placeholder {
          color: var(--gray);
        }
      }
      .searchbox-icon {
        pointer-events: all;
        cursor: pointer;
      }
    }
  }

  .errorMessage {
    display: none;
    position: absolute;
    right: 1.3rem;
    bottom: -1.6rem;
    padding: 4px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 0.8rem;
    border-radius: 4px;
  }

  &:focus-within {
    .errorMessage {
      display: block;
    }
  }
}
